/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

:root {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 5%;
}

h1 {
  font-weight: 400;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  color: #060a24;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-style: bold;
  text-align: center;
  padding: 3%;
}

h4 {
  color: #060a24;
  font-size: 1rem;
}

p {
  color: #060a24;
  font-size: 1rem;
  text-align: left;
}

button {
  background-color: #00f3bb;
  color: #060a24;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  border: none;
}

a {
  text-decoration: none;
  color: #060a24;
}

a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

a:active {
  color: #060a24;
  text-decoration: line-through;
  opacity: 56%;
}

footer {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  display: flex;
}

.logo {
  width: 36px;
}

.menu {
  display: flex;
  align-items: center;
}

.episodes,
.about-us,
.interviews,
.topics {
  color: #060a24;
  display: inline-block;
  font-size: 1rem;
  line-height: 28px;
  width: 120px;
  height: 28px;
  text-align: center;
}

.responsive-menu {
  display: none;
}

.line {
  background-color: #000;
  border-radius: 6px;
  height: 3px;
  margin-bottom: 30%;
  width: 160%;
  transition: all 1s ease;
  transform-origin: left;
}

#burger:checked + label .top-line {
  transform: rotate(45deg);
}

#burger:checked + label .med-line {
  background-color: white;
  border: none;
}

#burger:checked + label .low-line {
  transform: rotate(-45deg);
}

.menu-slider {
  width: 100vw;
  background-color: blue;
  margin-top: 5%;
  position: fixed;
  left: 0;
  transform: translateX(100vw);
}

#burger:checked ~ .menu-slider {
  transform: translateX(0);
}

.welcome-section-title {
  display: flex;
  padding-left: 15%;
  padding-top: 10%;
}

.general {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.3rem;
  color: #060a24;
  letter-spacing: 0;
}

.hello-text {
  padding-left: 0;
}

.world-text {
  text-decoration: line-through;
  padding-right: 8px;
}

.dot-symbol {
  color: blue;
}

.first-paragraph-desktop {
  width: 60%;
  padding-left: 15%;
}

.first-paragraph-mobile {
  display: none;
}

.more-button {
  width: 226px;
  height: 56px;
  margin-left: 15%;
  margin-top: 3%;
}

button:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: white;
}

.episodes-section {
  height: 1042px;
  border: 1px solid black;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(100% 0px, 100% 921.5px, 0px 1042px, 0px 120.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.episodes-title {
  color: #ffffff;
  padding-left: 15%;
}

.iframe-container {
  display: flex;
  flex-direction: column;
}

.first-row,
.second-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.iframe {
  margin: 3%;
  width: 100%;
}

iframe {
  border: 0px;
  height: 232px;
  width: 100%;
}

.whereDoWeCome-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0 5%;
}

.container-whereDoWeCome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.phone-image {
  height: 660px;
  position: relative;
  bottom: 150px;
  left: 80px;
  z-index: 100;
}

.where-do-we-come-title {
  width: 80%;
  color: #060a24;
  padding-top: 10%;
}

.second-paragraph,
.thrid-paragraph {
  width: 80%;
}

.guests-title {
  padding-left: 15%;
  padding-bottom: 3%;
}

.guests-list-row1,
.guests-list-row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest1,
.guest2,
.guest3,
.guest4,
.guest5,
.guest6 {
  width: 33.3%;
}

.ourTopics-title {
  padding-left: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.icons-list {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 0 10%;
}

.general-icon {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.icon2,
.icon4 {
  width: 25%;
}

.icon1,
.icon3 {
  width: 40%;
}

.trendies-section {
  height: 518px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0px 158px, 100% 0px, 100% 518px, 0px 518px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trendies-title {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

.listenTo-episodes {
  width: 345px;
  height: 56px;
  margin-top: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-menu-items {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.icons-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 2rem;
}

i:hover {
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  :root {
    font-size: 12px;
  }

  .menu {
    display: none;
  }

  .responsive-menu {
    display: block;
  }

  .custom-checkbox {
    visibility: hidden;
  }

  a {
    color: #fff;
  }

  li {
    list-style: none;
  }

  .episodes-responsive,
  .about-us-responsive,
  .interviews-responsive,
  .topics-responsive {
    color: white;
    margin: 3%;
  }

  .welcome-section-title {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }

  .hello-world,
  .pale-blue-dot {
    display: flex;
    padding-left: 0%;
  }

  .world-text {
    text-decoration: line-through;
    padding-left: 5%;
  }

  .first-paragraph-desktop {
    display: none;
  }

  .first-paragraph-mobile {
    padding: 5%;
    width: 100%;
    display: block;
  }

  .more-button {
    width: 95%;
    height: 56px;
    margin: 3%;
  }

  .episodes-section {
    clip-path: polygon(100% 0px, 100% 1300.5px, 0px 1342px, 0px 30.5px);
  }

  .episodes-title {
    color: #ffffff;
    padding-left: 5%;
  }

  .first-row,
  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iframe {
    width: 90%;
  }

  .episodes-section {
    height: 1342px;
  }

  .whereDoWeCome-section {
    display: flex;
    flex-direction: column;
  }

  .phone-image {
    width: 100%;
    height: 600px;
    left: 0;
    bottom: 100px;
  }

  .where-do-we-come-title {
    width: 100%;
    padding-top: 0;
    padding: 0 5%;
    padding-right: 30%;
  }

  .whereDoWeCome-section {
    padding: 0;
  }

  .second-paragraph,
  .thrid-paragraph {
    width: 90%;
    padding: 0;
  }

  .guests-title {
    padding-left: 5%;
    padding-top: 20%;
    padding-right: 20%;
  }

  .guests-list-row1,
  .guests-list-row2 {
    display: flex;
    flex-direction: column;
  }

  .guest1,
  .guest2,
  .guest3,
  .guest4,
  .guest5,
  .guest6 {
    width: 100%;
  }

  .ourTopics-title {
    padding: 5%;
    padding-right: 20%;
  }

  .icons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .general-icon {
    width: 80%;
    margin: 5%;
  }

  .trendies-section {
    clip-path: polygon(0px 48px, 100% 0px, 100% 518px, 0px 518px);
  }

  .footer-container {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon-menu-items {
    width: 55%;
    margin-top: 5%;
  }
}
